# Intro to Python for DS

#### Variables

In [ ]:
f = 7.5
type(f)
'This can be used as a documentation cell too'

In [3]:
h = complex(3,4)
type(h)

complex

In [4]:
7*8+3-2/4

58.5

In [5]:
15//8 # floor divide - floors the answer

1

In [6]:
f=7
g=8
f**g # old fashioned exponential

5764801

In [7]:
pow(f,g) # exponential another way

5764801

In [8]:
#variables

import math

pi = 3.1415
math.pi

3.141592653589793

In [9]:
pi == math.pi # false cos it is nt exactly same
# boolean values are true (1) and false (0)

False

In [10]:
f=76.8

g=f+pi
print(g)

79.94149999999999

In [11]:
x=1 # assignment
x=x+5
print(x)
x+=5
print(x)

6
11

In [12]:
x *= 4
print(x)
x /= 2
print(x)
x//=3 #floor divide
print(x)

44
22.0
7.0

# If statements

In [13]:
x=4
if x%2 == 0: # have a colon for if
    print("awesome!")

awesome!

In [14]:
1<=2

True

In [15]:
1==2

False

In [16]:
1!=2

True

In [17]:
(345%4) == 3**4 # use paranthesis for better reading

False

In [18]:
x = input("Enter a number") # in python 3 we might want to cover the i/p stmt by an int()

Enter a number6

In [19]:
type(x)

str

In [20]:
type(True)

bool

In [21]:
x=(int(input('Enter a number: ')))
if x<0:
    print('You entered a negative number!')
elif x>0:
    print('You entered a positive number!')
else:
    print('You entered 0!') # executes by default

Enter a number: -3
You entered a negative number!

In [22]:
x=(int(input('Enter a number: ')))
if x>5:
    if x<10:
        print("Hello:", x)

Enter a number: 8
Hello: 8

In [23]:
# the above code rewritten as:
x=(int(input('Enter a number: ')))
if x>5 and x<10 and x<7:
        print("Hello:", x)

Enter a number: 9

# While and for loops

In [24]:
for i in range(10):
    print(i%2) # returns reminder: modulo

x=-3
print("while loop result")

while x<10:
    x+=1
    print(x)

0
1
0
1
0
1
0
1
0
1
while loop result
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [25]:
(total,x) = (0,1)
while x<=8: 
    if total>25:
        total = 25
        print("The sume exceeded 25")
        break # breaks the top loop and exits
    total +=x 
    print("total: ", total)
    x+=1
    print("x:",x)

total:  1
x: 2
total:  3
x: 3
total:  6
x: 4
total:  10
x: 5
total:  15
x: 6
total:  21
x: 7
total:  28
x: 8
The sume exceeded 25

In [26]:
L = list() # always starts at index 0
L = [1,2,3,4]
for i in L:
    print(i, " ")

1
2
3
4

In [28]:
for i,e in enumerate(L):
    print ("element:", i,':',e)  # with braces for python 3

element: 0 : 1
element: 1 : 2
element: 2 : 3
element: 3 : 4

In [29]:
L[1:2:1] # start:stop:step

# this operation is called slicing

# values[1:3]  Index 1 through index 3.
# values[2:-1] Index 2 through index one from last.
# values[:2]   Start through index 2.
# values[2:]   Index 2 through end.
# values[::2]  Start through end, skipping ahead 2 places each time.

values = [100, 200, 300, 400, 500]
# Get elements from second index to third index, excluding 3rd index
slice = values[1:3]
print(slice)

values = [100, 200, 300, 400, 500]
# Slice from third index to index one from last.
slice = values[2:-1]
print(slice)

[200, 300]
[300, 400]

In [30]:
h = "Hello my name is archana" # strings are immutable

In [31]:
h.isupper() # h. and press tab to know all functions on string

False

In [33]:
L = [1,2,3,4]
print (L)
print(L.pop()) # removes the last element in the list
L.remove(2) # removes the element from list
L.append(5) # adds the element to the list
print (L)

[1, 2, 3, 4]
4
[1, 3, 5]

In [35]:
L.insert(3,2) # index, element
print (L)

[1, 3, 5, 2]

# Tuples

In [36]:
# important cos: immutable & safe, fast (as there are not many functions to change tuple like list), takes up less space, 
# mostly used in data science
# A tuple is represented by a number of values separated by commas. 
# and the output is surrounded by parentheses so that nested tuples are processed correctly. 
# usually store things in tuple that should not be modified. all of the following are tuples:

two = (1,2)
three = 1,2
four = tuple()
three[0] # to access a tuple

1

In [37]:
t = (1,[1,2]) # here changing t[0] will throw error, t[1][0] will accept it, as the second element is a list in itself

# Dictionaries

In [38]:
# Dictionary is an unordered set of key: value pairs, with the requirement that the keys are unique (within one dictionary). 
# A pair of braces creates an empty dictionary: {}. 
# uses key-value paradigm, key itself could be Dictionary, list, tuple
# important: faster than any other storage structure, store clean data, safer, ordered by the key value- ascending
# faster & convinient cos in list or tuple, if we store like key and value, we ll need to do indexing to find it. 
# But in Dictionary its easier to access by using the key
# Avoid camelcase to name variables or data structures, use underscore

In [39]:
# inbuilt functions are: .keys, .values etc
#dict.keys()
#dict.values()
#dict['California'] = 'Sacramento' # adds a new key-value pair to the dict

# Sets

In [40]:
# usually used for boolean operations
s ={4,8,9}
s.add(10)
r = {4,5,6}
s.intersection(r) # returns the common or union value among the 2 sets

{4}

# Functions

In [41]:
def add_one(x):
    return x+1
add_one(3)

4

# Class

In [42]:
# class of object,like in java
# for ease of access (as an object), reusability of code, call functions defined inside a class, 
# save space by pointing to same object
# design principles of OOPS: Inheritance, abstraction or encapsulation, polymorphism

In [43]:
class OurClass():
    def __init__(self, name=None, location=None, size=None): # lik java constructor to initialize all values used in the class
        self.name1 = 'Archana'
        self.name = name
        self.location = location
        self.size = size
        self.questions_asked = []
    
    def add_question_asked(self, question):
        self.questions_asked.append(question)

In [44]:
thisclass = OurClass()
thisclass.name = 'Intro to python for DS'

In [45]:
# std data science tools in python, as is 'alias' -  prefered way of importing lib, to know where it came from
import numpy as np 
import pandas as pd # std lib for python
import scipy as sp
import sklearn as skp # scikit-learn very important for ML
import math as m # can call m.factorial()
# or
from math import * # can call factorial()

In [46]:
# pandas dataframe stores values in the form of dictionaries
# pandas dataframe stores values in form of list
# pandas functions return in form of pandas dataframe object
# refer documentation: pandas has pd.read_csv, pd.read_sql, pd.read_excel
# refer UCI database, tells wat data contains: integer, real (float)
# import database using pandas to dataframe, and can call functions like df.columns, slice, df.copy, df.head
# df.describe - to display average of the dataset in the form of a table